# Exclude exported CurseForge zip files
*.zip

# Exclude exported Modrinth modpacks
*.mrpack

# Exclude pack utils and other generated stuff
kubejs/probe
kubejs/exported
kubejs/README.txt
jsconfig.json
probejs.json
.vscode